*{
  margin:0;
  padding:0;
}
.NavBar{
  height:100px;
  border-bottom:2px solid #f0f0f0
}

.navCon{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  position:relative;
  top:35px;
}

.navCon>img{
  position: relative;
    top: -14px;
}

.NavList>span{
  margin-left:65px;
  color:rgba(31, 46, 53, 0.8);
}
.openHamMenu{
  display: none;
}
.fa-angle-down{
  padding-left: 11px;
  font-size: 12px;
}

.navIcons>i{
  padding:10px;
  color:rgba(31, 46, 53, 0.8);

}

.ReadMore{
  width:120px;
  height:40px;
  background-color: #EE4248;
  color:#fff;
  text-align: center;
  border:none;
  cursor:pointer;
}

.ReadMore:hover{
  background-color:#ff5b5b;
}

.colorChange{
  color:#EE4248;
}

.Hero1{
  height:75vh;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.text>h2{
  font-size: 40px;
  width:545px;
  margin-bottom:20px;
}

.text>p{
  width:520px;
  margin-bottom: 20px;

}
.picture img{
  width: 471px;
  height: 420px;
}

.Hero2{
  background-color: #F7F7F7;
  height:75vh;
  display: flex;
  justify-content: space-evenly;
}
.picture2 img{
  margin-top: 100px;
  width: 450px;
  height: 400px;
}
.text2>h2{
  font-size: 32px;
  width:454px;
  margin-top: 100px;
  margin-bottom: 30px;
}

.text2>p{
  width:520px;
}

.featHead{
  text-align: center;
  font-size: 32px;
  margin-top:70px;
}

.features{
  display:flex;
  width: 1100px;
  margin: auto;
  justify-content: space-around;
}
.smallText{
  font-size:18px;
}

.features>div>p{
  width:320px;
  margin:30px 0px;
}
.features>div>i{
  font-size: 60px;
  color:#EE4248;
  padding-top: 40px;
}
.foot1{
  width:1100px;
  margin:auto;
  height:150px;
  display: flex;
  justify-content: space-evenly;
  padding-top:100px;
  padding-bottom: 10px;
}

.foot1>div{
  padding-right:15px;
}

.footerimg{
  width: 400px;
  height: 100px;
}

.logo{
  width: 71px;
  height: 56px;
}

.foot2{
  background-color: #EE4248;
  height:50px;
  color:#fff;
}

.foot2>p{
  text-align: center;
  padding:13px 0px;
  font-size:18px;
}

.div2f{
  position: relative;
  top: 58px;
}

/***Responsive***/

@media(max-width:500px) {
  /*Navbar*/
  .NavBar{
    height: 80px;
    width:150vw;
    }

.container{
    width:420px;
}

.navCon{
    display:flex;
    }

.navCon .Title{
    text-align: left;
    margin-top:12px;
}
.navCon>img{
  left:-39px;

}

.openHamMenu{
  display: block;
  cursor: pointer;
  position: absolute;
  top:5px;
  right:-90px;
}
.NavList {
  flex-direction: column;
  width: 100%;
  height: 90vh;
  position: absolute;
  top: 80px;
  left: -100%;
  opacity: 1;
  transition: all 1s ease;
}

.active {
  background: #242222;
  left: 0;
  opacity: 1;
  transition: all 1s ease;
  z-index: 1;
}

.NavList>span{
  text-align: center;
  padding:50px;
  margin-left:0px;    
  font-size:20px;

}

.navLinks:hover {
  background-color:#be286e;
  transition:0.4s ease-in ;
}
.navLinks a:hover {
  color:#fff;
  font-style:normal;
  transition:0.4s ease-in ;
}



}